@media only screen and (max-width: 767px ){
	#desktop-nav{
		display: none;
	}
}

@media only screen and (min-width: 768px ){
	#mobile-nav{
		display: none;
	}
}

/*#main{
	margin-top: 20px;
}*/

/*Basic Layout*/
.box{
	border: 1px solid gray;
}

.text-center{
	text-align: center;
}

.text-right{
	text-align: right;
}
.text-left{
	text-align: left;
}

.g-padding{
	padding:5px;
}